<div  ng-controller="dashboardCtrl">
	 
	   <div class="col-sm-9">
               <form class="form-inline">
                <div class="form-group col-sm-12">
                  <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                  <div class="input-group col-sm-12">
                    <div class="input-group-addon" style='width: 15%'>Pesquisar imagens</div>
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="">
                    <div class="input-group-addon" style='width: 8%'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                  </div>
                </div>
              </form>
		    <div ng-repeat="image in imageList" class="col-sm-3"  style="margin-top:1%">
		        <img class="img-responsive img-rounded" src="https://files.snapfashion.co.uk/web/homepage/women/shortcuts/tops.jpg"></img>
		     </div>
	   </div>
	    <div class="col-sm-3">
	    	<!-- <span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.64.83964&bannertypeclick=wu_macwhite" title="Porto Alegre, Brazil Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_macwhite_metric&airportcode=SBPA&ForcedCity=PortoAlegre&ForcedState=Brazil&wmo=83964&language=BR" alt="Find more about Weather in Butia, BZ" width="160" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:00000.64.83964&bannertypeclick=wu_macwhite" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank">Clique para previsão de tempo</a></span> -->
                <div class="col-sm-12 text-center">
                    <!-- Widget Previs&atilde;o de Tempo CPTEC/INPE --><iframe allowtransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="http://www.cptec.inpe.br/widget/widget.php?p=237&w=h&c=909090&f=ffffff" height="200px" width="215px"></iframe><noscript>Previs&atilde;o de <a href="http://www.cptec.inpe.br/cidades/tempo/237">Porto Alegre/RS</a> oferecido por <a href="http://www.cptec.inpe.br">CPTEC/INPE</a></noscript><!-- Widget Previs&atilde;o de Tempo CPTEC/INPE -->
                </div>
                
                <div class="col-sm-12">
                    <img src='http://localhost/projeto/front/img/anuncio-1.png' />
                </div>
                
                <div class="col-sm-12">
                    <img src='http://localhost/projeto/front/img/anuncio-2.png' />
                </div>
               
            </div>
	   
	
</div>
