<div  ng-controller="loginCtrl" style="margin-top:5%">>
	 
<div ng-show="!loading" class="sign-in-block col-md-6 col-md-offset-3">
	<div class="text-center">
		<h2>ENTRAR</h2>
		 <hr class="mt-2 mb-2">
	</div>	
	 <form>
	 <div class="form-group">
	 	<img  ng-if="userNotFound" src="img/not-found.png" style="float:left;width:5%; margin-right:1%"><p ng-if="userNotFound" style="font-size:20px; color:red"> Usuário não encontrado</p>	 
	  </div>
	  <div class="form-group">
	    <label for="email">Email:</label>
	    <input type="email" class="form-control" id="email" ng-model="email" ng-class="{error : empty_email, normal : !empty_email}">
	  </div>
	  <div class="form-group">
	    <label for="pwd">Senha:</label>
	    <input type="password" class="form-control" id="pwd" ng-model="senha" ng-class="{error : empty_pass, normal : !empty_pass}">
	  </div>  	  
	  <p><b>Não possui cadastro?<a href="#/signin" style="cursor:pointer"> Clique aqui!</a></b></p>
	  <p ng-if="empty_email || empty_pass" style="color:red;"><b>FAVOR PREENCHER TODOS OS CAMPOS!!</b></p> 
	  <button ng-click="verificarDados()" class="btn btn-default">Entrar</button>
	</form>
</div>

