<div  ng-controller="signInCtrl" style="margin-top:5%">
	 
<div ng-show="!loading" class="sign-in-block col-md-6 col-md-offset-3">
	<div class="text-center">
		<h2>CADASTRO</h2>
		 <hr class="mt-2 mb-2">
	</div>	
	 <form>
	 <div class="form-group">
	    <label for="email">Nome:</label>
	    <input type="text" class="form-control" id="name" ng-model="nome" ng-class="{error : empty_name, normal : !empty_name}">
	  </div>
	  <div class="form-group">
	    <label for="email">Email:</label>
	    <input type="email" class="form-control" id="email" ng-model="email" ng-class="{error : empty_email, normal : !empty_email}">
	  </div>
	  <div class="form-group">
	    <label for="pwd">Senha:</label>
	    <input type="password" class="form-control" id="pwd" ng-model="senha" ng-class="{error : empty_pass, normal : !empty_pass}">
	  </div>  
	  <div class="form-group">
	    <label for="pwd">Confirmar senha:</label>
	    <input type="password" class="form-control" id="pwd2" ng-model="confirma_senha" ng-class="{error : empty_repeat_pass, normal : !empty_repeat_pass}">
	    <span class="glyphicon glyphicon-ok errspan" ng-if="senha == confirma_senha && senha != '' && senha != null" style="color:green"></span>
	  </div>
	  <p ng-if="empty_name || empty_email || empty_pass" style="color:red;"><b>FAVOR PREENCHER TODOS OS CAMPOS!</b></p>	
	  <p ng-if="different_pass" style="color:red;"><b>A CONFIRMAÇÃO DE SENHA NÃO CONFERE!</b></p> 
	  <button ng-click="verificarDados()" class="btn btn-default">Cadastre-me</button>
	  <a href="#/" class="btn btn-default">Voltar</a>
	</form>
</div>

<div ng-show="loading">
	<img src="../projeto/front/images/loading.gif"></img>
</div>
</div>