<div  ng-controller="userCtrl">
	<div class="row">
		<div class="col-md-9">
			<div class="col-md-1"></div>
			<div class="col-md-2 offset-md-1"> 
				<input type="file" nv-file-select="" uploader="uploader"  style="display: none;" id="file"/><br/>				
				<button ng-click="upladImage()" style="width:100%; padding:20% 0 20% 0; margin:10% 20% 0 0; background-color: #f7cece" class="btn btn-lg btn-primary">Adicionar foto!</button>
				<ul class="list-group">
		            <li class="list-group-item" ng-repeat="item in uploader.queue">
		                <span ng-bind="item.file.name"></span><br/>		               
		            </li>
		        </ul>
			</div>
			<div class="col-md-5 offset-md-1">
				<form>
				 <div class="form-group">
				 	<img  ng-if="userNotFound" src="img/not-found.png" style="float:left;width:5%; margin-right:1%"><p ng-if="userNotFound" style="font-size:20px; color:red"> Usuário não encontrado</p>	 
				  </div>
				  <div class="form-group">
				    <label for="email">Nome:</label>
				    <input type="text" class="form-control" id="email" ng-model="img_name">
				  </div>
				  <ul class="list-unstyled">
				  	<li ng-repeat = "tag in selectedTagList"><a style="cursor:pointer" ng-click="removeTag(tag.id)">{{tag.name}}</a></li>
				  </ul>
				  <div class="form-group">                
			            <label for="repeatSelect">Tags: </label>
			              <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="selected_tag" ng-change="selectedTag()">
			                <option value="" >Selecione</option>
			                <option ng-repeat="tag in tagsList">{{tag.name}}</option>
			              </select>           
			       </div>  			 
				</form>
			</div>
			<div class="col-md-2">
				<button style="padding:10% 10% 10% 10%; margin:30% 0 0 10%" ng-click="save()"  class="btn btn-primary">Salvar</button> 	  		
			</div>
		</div>
		
			<div class="row">
		  		<div class="col-sm-10" >
			    	<div ng-repeat="image in imageList" class="col-sm-3"  style="margin-top:1%">
			        	<img class="img-responsive img-rounded" ng-src="http://lorempixel.com/400/400/fashion/{{image.number}}"></img>
			     	</div>
		  		 </div>
			
	    <div class="col-sm-2">
<!-- Widget Previs&atilde;o de Tempo CPTEC/INPE --><iframe allowtransparency="true" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no" src="http://www.cptec.inpe.br/widget/widget.php?p=237&w=h&c=909090&f=ffffff" height="200px" width="215px"></iframe><noscript>Previs&atilde;o de <a href="http://www.cptec.inpe.br/cidades/tempo/237">Porto Alegre/RS</a> oferecido por <a href="http://www.cptec.inpe.br">CPTEC/INPE</a></noscript><!-- Widget Previs&atilde;o de Tempo CPTEC/INPE -->   </div>
	</div>
	</div>
</div>
