body{
  font-family: Arial, Helvetica, sans-serif;
}

#header{ 
  text-align:center;
  width:80%;
  margin:2% 10% 2%;
  padding-top: 1%;
  font-variant: small-caps;  
}

#header_line{
  border: 2px groove #DCDCDC;
  width:70%;
  margin-left:15%;  
}

#subtext{
  margin-right:10%;
  margin-top:2%;
}

#subtext p {
  font-size:15px;
}

#new_button, #alert_deleted{
  margin-left: 10%;
  margin-top:2%;
}

#table{
   width: 80%;
   margin-left: 10%;
   margin-top: 2%;
}

#detailBox{
  width: 80%;
  margin: 2% 10% 2%;
}

#buttons_div{
  margin-top: 2%;
}

.border_red{
  border: 1px solid red;
}

.sign-in-block{
  color: ghostwhite;
  background-color: #f7cece;
  padding: 1% 2% 2% 2%;
  border-radius:10px;
}


.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -24px;
    position: relative;
    z-index: 2;
    
}

.error{
  background-color: #f55151;
}

.normal{
  background-color:white;
}

.loading {
    background: url("../../projeto/front/images/loading.gif") no - repeat center center;
    height: 200px;
    width: 200px;
}

/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}
nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #4169E1;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}