<!doctype html>

<html lang="en" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nome do Projeto</title>   
   
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">   
    
  </head>
  <body>
    <div id="header" ng-controller="dashboardCtrl" ng-if="showHeader">
      <nav class="navbar navbar-default navbar-fixed-top">
    <section style="background: #FFFAF0; color: rgba(0, 0, 0, 0.5);">
      <nav class="shift">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <img style="width:25%" src="img/logo.png"/>
      
      
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div style="background-color: white; border-down: 1px solid #f1f1f1" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#/dashboard">Imagens Recentes <span class="sr-only">(current)</span></a></li>
              <li><a href="#/user">Minhas imagens </a></li>             
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Sair</a></li>             
            </ul>
      </nav>
      </section>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>  
    </div>
    <main ng-view></main>  
  
    <script type="application/javascript" src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-file-upload.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/ngMask.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="scripts/controllers/app.module.js"></script>
    <script src="scripts/controllers/app.routes.js"></script>     

    <!--Controllers-->
    <script src="scripts/controllers/signin.controller.js"></script>  
    <script src="scripts/controllers/login.controller.js"></script>
    <script src="scripts/controllers/dashboard.controller.js"></script>
    <script src="scripts/controllers/user.controller.js"></script>

    <!--Services-->
    <script src="scripts/factory/image.service.js"></script>
    <script src="scripts/factory/signin.service.js"></script>
    <script src="scripts/factory/login.service.js"></script>
    <script src="scripts/factory/tags.service.js"></script>

  </body>
</html>
